/* Reset the margin and padding for the body and html */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c3253f;
  padding: 10px 20px;
  color: white;
}

/* Products grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row for medium screens */
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row for smaller screens */
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr; /* 1 item per row for very small screens */
  }
}

/* Card styling */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
}

.card-body {
  padding: 15px;
  flex-grow: 1;
}

.card-body h5 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.card-body p {
  font-size: 14px;
  color: #666;
}

.btn {
  padding: 10px 15px;
  background-color: #c3253f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Make the button span the full width */
}

.btn:hover {
  background-color: #9e1e35;
}

/* Promo Section */
.promo-section {
  text-align: center;
  padding: 40px 20px;
  margin-top: 50px;
  background-color: #f9f9f9;
}

.promo-title {
  color: #c3253f;
  font-family: "Georgia", serif;
  font-weight: bold;
}

.promo-text {
  color: #555;
  font-size: 18px;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}

.promo-btn {
  background-color: #c3253f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.promo-btn:hover {
  background-color: #a51e35;
}
